<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/static/styles/estilos.css">
    <link rel="stylesheet" href="https://bootswatch.com/4/solar/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
    <script src="../static/scripts/cuenta.js"></script>
    <script src="../static/scripts/admin.js"></script>
    <title>Cine Deluxe</title>
</head>

<body onload="iniciar() & obtenerUsuarios()">
    <!------ Barra de Navegación ------>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand mb-0 h1" onclick="refrescar()">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class=" bi bi-camera-reels-fill" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M0 8a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 7.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 16H2a2 2 0 0 1-2-2V8z" />
                <circle cx="3" cy="3" r="3" />
                <circle cx="9" cy="3" r="3" />
            </svg>
            Cine Deluxe
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link mb-0 h4" onclick="peliculas()">Peliculas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mb-0 h4" onclick="resenasAdmin('')">Reseñas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mb-0 h4" onclick="funciones()">Funciones</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link mb-0 h4" onclick="usuarios()">Usuarios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mb-0 h4" onclick="crearUsuarioAdmin()">Registrar Usuario</a>
                </li>
            </ul>
        </div>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link mb-0 h4" id="perfil" onclick=""></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mb-0 h2" href="../index.html">Cerrar Sesión</a>
                </li>
            </ul>
        </div>
    </nav>
    <div id = "alerta"></div>
    <center>
        <p class="display-4 my-3" id="titulo">Usuarios</p>
    </center>

    <div class="row mx-5">
        <button class="btn btn-info btn-lg btn-block mx-5 my-4">Generar Reporte PDF</button>
    </div>

    <div class="jumbotron my-3 mx-5">
        <center><h1 class="display-5">Usuarios Registrados</h1></center>
        <hr class="my-4">
        <div class="mx-5" id="tablaU">
        </div>
    </div>
</body>

</html>