body{
    background: linear-gradient(to right,#4b6cb7, #182848);
}

#titulo{
    color: #ffffff;
}

#fila{
    text-align: right;
}

#imgCarousel{
    height: 500px;
}

#ofertas{
    width: 60%;
}

#contenido{
    text-align: justify;
}

#contactoi{
    width: 100px;
    height: 100px;
}